<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Dating App</a>

    <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
            <a class="nav-link" href="#">Matches</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">List</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Messages</a>
        </li>
    </ul>



    <div *ngIf="loggedIn()" class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
          Dropdown button
            <!-- Welcome {{authService.decodedToken?.unique_name | titlecase}} -->
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            <li><a class="dropdown-item" href="#"><i class="fa fa-user"></i>Edit Profile</a></li>
            <li class="dropdown-item">
                <a class="nav-link" (click)="logout()">Logout</a>
            </li>
        </ul>
    </div>
    <form *ngIf="!loggedIn()" class="d-flex align-items-center justify-content-end" autocomplete="off">
        <input class="form-control me-2 text-align-right" name="Username" autocomplete="off" type="text" required [(ngModel)]="model.Username" />
        <input class="form-control me-2 text-align-right" type="password" name="Password" required [(ngModel)]="model.Password" />
        <button class="btn btn-success" (click)="login()">LogIn</button>
    </form>
</nav>